<h3>Limiti & Step</h3>
<p class = "mb-5">
  Aggiungendo le proprietà <code class="language-plaintext highlighter-rouge">min</code>, <code class="language-plaintext highlighter-rouge">max</code> e <code class="language-plaintext highlighter-rouge">step</code> all’input è possibile 
  limitare il valore minimo e massimo del campo e decidere di quanto varierà a ogni click sui pulsanti.</p>
<div class="bd-example">
 
  <!-- Input numerico con min, max e step -->
  <it-input id="interactive-input-number-0" 
            type="number" 
            name="interactive-input-number-example-0" 
            label="Min, Max & Step"
            min="10" max="100" step="5"
  ></it-input>
</div>
