<h3>Ridimensionamento</h3>
<p>È possibile far sì che il campo numerico si ridimensioni automaticamente a seconda del valore contenuto in esso.
  Basta aggiungere la proprietà <code class="language-plaintext highlighter-rouge">adaptive</code></p>
  
  <div class="bd-example">

  <!-- Input numerico con ridimensionamento automatico -->
  <it-input id="interactive-input-number-3" 
            type="number" 
            name="interactive-input-number-example-3" 
            label="Adattivo" 
            adaptive
            [(ngModel)]="adaptiveInputValue" 
  ></it-input>

</div>
